%h1 Follow Units

%p
  If you would like to receive emails regarding vacation scheduling progress for a certain unit, please check the boxes next to the units you would like to receive updates for. 
- if @units
  %h2 Units
  = form_tag admin_unit_update_path, :method => 'put' do
    %table#units
      %thead
        %tr
          %th= ""
          %th Name
          %th Following?
      %tbody
        - count = 1
        - @units.each do |unit, check|
          %tr{:class => cycle("even", "odd")}
            %td= count
            - count += 1
            %td= label_tag "units[#{unit.name}]", unit.name
            %td= check_box_tag("units[#{unit.name}]", "1", check)  
    = submit_tag "Submit"
