= label :event, :start_at, 'From'
= text_field :event, 'start_at', :value => (@event ? @event.start_at.strftime('%m/%d/%Y') : '')

= label :event, :end_at, 'To'
= text_field :event, 'end_at', :value => (@event ? @event.end_at.strftime('%m/%d/%Y') : '')

= label :event, :pto, 'PTO?'
= check_box :event, :pto 
