%h1 Calendar

#admin-calendar-links
  #add-seg
    - if @units.length > 0
      = form_tag "/admin/calendar", :method => :get do
        = hidden_field_tag 'month', @month
        = hidden_field_tag 'year', @year
      
        = label_tag :unit_id, 'Unit'
        %select{:name => 'unit_id', :id => :unit_id}
          - @units.each do |u|
            %option{:value => u.id, :selected => u.id.to_s == @unit_id} #{u.name}
          
        = label_tag :shift, 'Shift'
        %select{:name => 'shift', :id => :shift}
          - @shifts.each do |s|
            %option{:value => s, :selected => s == @shift} #{s}

        = submit_tag 'Filter calendars', :id => 'filter_cal'

    - else
      %h2 There are no units.
  #print-link
    = link_to_function("Print this month", "javascript:print()") + " or "

#calendar
  = raw(admin_event_calendar)
