:javascript
  $(function() {
    $.datepicker.setDefaults({dateFormat: 'dd/mm/yy'});
    var dates = $( "#event_start_at, #event_end_at" ).datepicker({
      minDate: "#{Time.now.strftime("%d/%m/%y")}",
      defaultDate: "#{@event.start_at.strftime("%d/%m/%y")}",
      changeMonth: true,
      numberOfMonths: 3,
      onSelect: function( selectedDate ) {
        var option = this.id == "event_start_at" ? "minDate" : "maxDate",
        instance = $( this ).data( "datepicker" ),
        date = $.datepicker.parseDate(
          instance.settings.dateFormat ||
          $.datepicker._defaults.dateFormat,
          selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

%h2 Update your vacation time

= form_tag "/nurse/#{@nurse_id}/calendar/#{@id}", :method => :put do
  = render :partial => 'event_form'
  = submit_tag 'Update vacation time'

= link_to 'Back to calendar', nurse_calendar_index_path
