%h1 Calendar

= link_to 'Schedule your vacation', new_nurse_calendar_path
#calendar
  = raw(event_calendar)

- if @nurse and (@nurse.events.length > 0)
  %h2 Your vacations weeks
  %table
    %thead
      %tr
        - @col_names.each do |name|
          %th= name
    %tbody
      - @nurse.events.each do |e|
        %tr{:class => cycle("even", "odd")}
          %td= e.start_at.strftime("%d/%m/%y")
          %td= e.end_at.strftime("%d/%m/%y")
          %td= link_to 'Edit vacation week', edit_nurse_calendar_path(e.nurse, e)
          %td= button_to 'Delete', nurse_calendar_path(e.nurse, e), :method => 'delete', :confirm => 'Are you sure?'
- elsif @nurse
  %h2 You have not scheduled your vacations.
- else
  %h2 Impostor! You are not a nurse.
