<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= stylesheet_link_tag "jquery-ui-1.8.18.custom" %>
<%= javascript_include_tag "jquery-1.7.1.min" %>
<%= javascript_include_tag "jquery-ui-1.8.18.custom.min" %>
<%= javascript_include_tag "event_calendar" %>

<script>
$(function() {
  var dates = $( "#from, #to" ).datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 3,
    onSelect: function( selectedDate ) {
      var option = this.id == "from" ? "minDate" : "maxDate",
      instance = $( this ).data( "datepicker" ),
      date = $.datepicker.parseDate(
        instance.settings.dateFormat ||
        $.datepicker._defaults.dateFormat,
        selectedDate, instance.settings );
      dates.not( this ).datepicker( "option", option, date );
    }
  });
});
</script>

<div class="demo">
  <label for="from">From</label>
  <input type="text" id="from" name="from"/>
  <label for="to">to</label>
  <input type="text" id="to" name="to"/>
</div><!-- End demo -->

<h1>Calendar</h1>

<%= raw(event_calendar) %>
