%h1 Calendar

#calendar-links
  #add-seg
    = link_to 'Add a vacation segment', new_nurse_calendar_path
  #print-link
    = link_to_function("Print calendar", "javascript:print()")

#calendar
  - counter = 0
  - @strips.each do |s|
    - @event_strips = s
    - @year  = @year_month[counter][0]
    - @month = @year_month[counter][1]
    - @shown_month = Date.civil(@year, @month)
    = raw(event_calendar)
    - counter += 1
    %br{:style => "page-break-before:always"}

#calendar-dashboard
  - if @nurse and (@nurse.events.length > 0)
    %h2= "Vacations segments for #{@nurse.name}"
    %table
      %thead
        %tr
          %th= 'Start Date'
          %th= 'End Date'
      %tbody
        - @nurse.events.each do |e|
          %tr{:class => cycle("even", "odd")}
            %td= e.start_at.strftime("%m/%d/%y")
            %td= e.end_at.strftime("%m/%d/%y")
  - elsif @nurse
    %h2 There are no vacation segments scheduled.
  - else
    %h2 Impostor! You are not a nurse.

