  = label :nurse, :name, 'Name'
  = text_field :name, 'name'

  = label :movie, :years_worked, 'Years Worked'
  = text_field :movie, :years_worked

  = label :movie, :num_weeks_off, 'Number of Weeks Off'
  = text_field :movie, :num_weeks_off

  = label :movie, :email, 'Email'
  = text_field :movie, 'email'
 
