%h1 Rules

= form_tag({:action => :rules}, :multipart => true) do
  
  %p#instruction1= 'Please select your Unit and Shift, then click "Next"'
  = label :admin, :shift, 'Shift'
  = select :admin, :shift, @shifts, :selected => @shift
  
  = label :admin, :unit, 'Unit'
  = select :admin, :unit, @units, :selected => @unit
  
  = submit_tag 'Next'
  
  - if @readyToShow
    %p= 'For each 3-month segment below, please select the month you would like the segment to start at:'
    - if @num_months == 0
      %p#nomonths= 'There are no additional 3-month segments this year.'
    - else
      - i=0
      - while i < @num_months
        - j = i+1
        = label :admin, "seg#{j}", "Segment #{j}", :selected => @selected_months[i]
        = select :admin, "seg#{j}", @months, :selected => @selected_months[i]
        - i = j
      = submit_tag 'Done'