%h1 Upload Nurse List

= form_tag({:action => :upload}, :multipart => true) do
  
  %p#instruction1= 'Please select your Unit and Shift, then click "Show"'
  = label :admin, :shift, 'Shift'
  = select :admin, :shift, @shifts, :selected => @shift
  
  = label :admin, :unit, 'Unit'
  = select :admin, :unit, @units, :selected => @unit
  
  = submit_tag 'Show'
 
  - if @readyToUpload
    %p#instruction2= 'Please upload a .xls or .xlsx file where the columns are labeled "Name", "Years", "Number of weeks off", and "E-mail". Then click "Upload".'
    -# insert sample .xls file here
    
    %p#upload_warning= 'Note that if you upload a new file, it will overwrite any previous data.'
    
    = label :admin, :select_file, 'Select file'
    = file_field :admin, :upload
    = submit_tag 'Upload'#, :confirm => 'Are you sure?'
    = render :partial => 'nurses_table'
