%ul
  %li.first
    = link_to_unless_current 'Calendar', admin_calendar_path
  %li
    = link_to_unless_current 'Manage Nurses', nurse_manager_index_path
  %li
    = link_to_unless_current 'Rules', admin_rules_path
  %li
    = link_to_unless_current 'Units', units_path
  %li
    = link_to "Logout", destroy_user_session_path, :method => :delete
  %li
    = "#{current_admin.name} (Admin)"
