%h2 Change your password
#flash
  = devise_error_messages!
#form
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|  
    .left    
      = f.hidden_field :reset_password_token
      
      = f.label :password, "New password"  
      = f.password_field :password
      
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation
      
    .right
      %div= f.submit "Change my password", :class =>'submit'
    .clear
= render "links"
