%h2 Nurses List
%p Below are the nurses currently in the database for this unit and shift.
%table#nurses
  %thead
    %tr
      %th
      - Nurse.all_columns.each do |col_name|
        %th= col_name
      %th
      %th{:class=>'delete-button'}
  %tbody
    - if @nurses
      - @nurses.each_with_index do |nurse,i|
        %tr{:class => cycle("even", "odd")}
          %td= i+1
          - Nurse.all_columns_as_sym.each do |attr|
            -if attr == :name
              %td= link_to nurse.send(attr), edit_nurse_manager_path(nurse)
            -else
              %td= nurse.send(attr)
          %td= link_to 'View Calendar', nurse_calendar_index_path(nurse), :id=>"#{nurse.id}_calendar"
          %td= button_to 'Delete', nurse_manager_path(nurse), :method => 'delete', :confirm => 'Are you sure?', :id => "#{nurse.id}_delete"
          
