%h1 Manage Nurses

= form_tag nurse_manager_index_path, :method => :get, :multipart => true do

  %p#instruction1= 'Please select your Unit and Shift, then click "Show"'
  = label :admin, :shift, 'Shift'
  = select :admin, :shift, @shifts, :selected => @shift

  = label :admin, :unit, 'Unit'
  = select :admin, :unit, @units, :selected => @unit

  = submit_tag 'Show'

  - if @readyToUpload
    = render :partial => 'nurses_table'
    %h2 Upload Nurses
    %p#instruction2
      = 'Please upload a .xls or .xlsx file where the columns are labeled "Name", "Years", "Number of weeks off", and "E-mail". Then click "Upload".'
      = link_to "Click here to download a sample spreadsheet", "/sample_spreadsheet.xls"

    %p#warning= 'Note that if you upload a new file, it will overwrite any previous data.'

    = label :admin, :select_file, 'Select file'
    = file_field :admin, :upload
    = submit_tag 'Upload'#, :confirm => 'Are you sure?'

    %h2
      = link_to 'Add New Nurse', new_nurse_manager_path
