%h1 Manage Nurses

= form_tag nurse_manager_index_path, :method => :get, :multipart => true do

  %p#instruction1= 'Please select your Unit and Shift, then click "Show"'
  = label :admin, :unit, 'Unit'
  = select :admin, :unit, @units, :selected => @unit
  
  = label :admin, :shift, 'Shift'
  = select :admin, :shift, @shifts, :selected => @shift

  = submit_tag 'Show'

- if @readyToUpload
  = render :partial => 'nurses_table'
  %h1 Upload Nurses
  %h2 Bulk Upload
  %p#instruction2
    = 'Please upload a .xls or .xlsx file where the columns are labeled "Name", "Years", "Number of weeks off", and "E-mail". Then click "Upload".'
    = link_to "Click here to download a sample spreadsheet", "/sample_spreadsheet.xls"
  %p#warning= 'Note that if you upload a new file, it will overwrite any previous data.'
  = form_tag upload_nurse_manager_index_path, :multipart => true do
    = label :admin, :select_file, 'Select file'
    = file_field :admin, :upload
    = hidden_field_tag "admin[shift]", @shift
    = hidden_field_tag "admin[unit]", @unit
    = submit_tag 'Upload'#, :confirm => 'Are you sure?'
  %h2
    = link_to 'Add A Single Nurse', new_nurse_manager_path
