!!! 5
%html
  %head
  %title Nurse Scheduler
    = stylesheet_link_tag 'login'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600'
    = csrf_meta_tags

  %body
    #container
      #login
        #header
        #content.container
          #welcome
            Sign in to schedule your vacation hours. If you don't know
            your login/password, please contact your nurse manager.
          #form
            = form_tag login_path(@login), :method => :put do
              .left
                = label :login, :username, 'Username'
                = text_field :login, 'username'

                = label :login, :password, 'Password'
                = text_field :login, 'password'

              .right
                = submit_tag 'LOGIN', :id =>'submit
              .clear
        #footer
          (c) 2012 Team Awesome
