%h2 Nurses List
%p Below are the nurses currently in the database for this unit and shift.
%table#nurses
  %thead
    %tr
      %th= ""
      - Nurse.all_columns.each do |col_name|
        %th= col_name
  %tbody
    %ul{:id=>"unit-shift-list", :style=>"cursor: move"}
      - if @nurses
        - @nurses.each_with_index do |nurse,i|
          %li{:id=>"item_#{nurse.id}"}
            %tr{:class => cycle("even", "odd")}
              %td= i+1
              - Nurse.all_columns_as_sym.each do |attr|
                %td= nurse.send(attr)

-sortable_element "unit-shift-list",
                 :url => {:action => "sort",:id => @unit_shift_list} 

