!!! 5
%html
  %head
    %title Nurse Scheduler
    = stylesheet_link_tag 'compiled/application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Merriweather:900'
    = csrf_meta_tags

  %body
    #container
      #header
        .left
          Nurse Scheduler
        .right
          %ul
            %li.first
              =link_to_unless_current 'Home', root_path
            %li
              =link_to_unless_current 'Upload', root_path
            %li
              =link_to_unless_current 'Calendar', root_path
        .clear
        .separator
      #flash
        = render 'shared/flash', :flash => flash
      #content
        = yield
      #footer
        (c) 2012 Team Awesome
