  !!! 5
%html
  %head
    %title Nurse Scheduler
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600'
    = csrf_meta_tags

  %body
    #container
      #header
        NURSE SCHEDULER
      #flash
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
      #content
        = yield
      #footer
        (c) 2012 Team Awesome
